02-voice-crm-n8n-airtable/Airtable v3.json
{
  "name": "Airtable v3",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app2EH80uupM2IWid",
          "mode": "list",
          "cachedResultName": "n8nv2",
          "cachedResultUrl": "https://airtable.com/app2EH80uupM2IWid"
        },
        "table": {
          "__rl": true,
          "value": "tbl8METLOckHmOHvt",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app2EH80uupM2IWid/tbl8METLOckHmOHvt"
        },
        "filterByFormula": "=TRIM({Kontrahent}) = '{{ JSON.parse($json.content).contractor }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        304,
        0
      ],
      "id": "8349779b-fe31-464f-b382-ca5072b29224",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "TnrgMYe643LIqRlX",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app2EH80uupM2IWid",
          "mode": "list",
          "cachedResultName": "n8nv2",
          "cachedResultUrl": "https://airtable.com/app2EH80uupM2IWid"
        },
        "table": {
          "__rl": true,
          "value": "tbl8METLOckHmOHvt",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app2EH80uupM2IWid/tbl8METLOckHmOHvt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Kontrahent": "={{ JSON.parse($node[\"Message a model\"].json.content).contractor }}",
            "Notes": "={{ JSON.parse($node[\"Message a model\"].json.content).summary }}",
            "Transkrypt": "={{ $('When chat message received').item.json.chatInput }}",
            "Email": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.email }}",
            "Nazwisko, Imię": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.name }}",
            "Telefon komórkowy": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.phone }}",
            "Stanowisko": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.position }}",
            "Telefon stacjonarny": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.landline }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Kontrahent",
              "displayName": "Kontrahent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transkrypt",
              "displayName": "Transkrypt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Update",
              "displayName": "Last Update",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefon komórkowy",
              "displayName": "Telefon komórkowy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefon stacjonarny",
              "displayName": "Telefon stacjonarny",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nazwisko, Imię",
              "displayName": "Nazwisko, Imię",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stanowisko",
              "displayName": "Stanowisko",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lista Kontaktów",
              "displayName": "Lista Kontaktów",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        928,
        -96
      ],
      "id": "61fb27a0-37e0-46d7-b821-a055681fb30c",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "TnrgMYe643LIqRlX",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "499c0754-07cd-49c8-a44d-be7a82842a11",
              "leftValue": "={{ $node[\"Search records\"].json[\"id\"] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        0
      ],
      "id": "330ca5a6-0e18-4e0a-96c0-448b217a04f5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app2EH80uupM2IWid",
          "mode": "list",
          "cachedResultName": "n8nv2",
          "cachedResultUrl": "https://airtable.com/app2EH80uupM2IWid"
        },
        "table": {
          "__rl": true,
          "value": "tbl8METLOckHmOHvt",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app2EH80uupM2IWid/tbl8METLOckHmOHvt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Notes": "={{ JSON.parse($node[\"Konsolidator\"].json.content).merged_notes }}",
            "Transkrypt": "={{ JSON.parse($node[\"Konsolidator\"].json.content).merged_transcription }}",
            "Stanowisko": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.position }}",
            "Telefon komórkowy": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.landline }}",
            "Email": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.email }}",
            "Nazwisko, Imię": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.name }}",
            "Telefon stacjonarny": "={{ JSON.parse($node[\"Message a model\"].json.content).new_contact.landline }}",
            "Lista Kontaktów": "={{ JSON.parse($node[\"Konsolidator\"].json.content).updated_contacts_list }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Kontrahent",
              "displayName": "Kontrahent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transkrypt",
              "displayName": "Transkrypt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Update",
              "displayName": "Last Update",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefon komórkowy",
              "displayName": "Telefon komórkowy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefon stacjonarny",
              "displayName": "Telefon stacjonarny",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nazwisko, Imię",
              "displayName": "Nazwisko, Imię",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stanowisko",
              "displayName": "Stanowisko",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lista Kontaktów",
              "displayName": "Lista Kontaktów",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1088,
        80
      ],
      "id": "b97f9ba6-80c8-4ec7-9b43-5743c8a81a79",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "TnrgMYe643LIqRlX",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen3-coder:480b",
          "mode": "list",
          "cachedResultName": "qwen3-coder:480b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {
          "system": "Jesteś asystentem CRM. Twoim zadaniem jest wyodrębnienie danych z tekstu i zwrócenie ich w formacie JSON.\n\nWYMAGANY FORMAT: { \"contractor\": \"Nazwa Firmy\", \"summary\": \"Krótkie streszczenie (2 zdania)\", \"new_contact\": { \"name\": \"Imię Nazwisko\", \"email\": \"Email\", \"phone\": \"Komórka\", \"landline\": \"Stacjonarny\", \"position\": \"Stanowisko\" } }\n\nJeśli brakuje danych, wpisz null. Nie dodawaj żadnych wyjaśnień, zwróć tylko obiekt JSON.",
          "vocab_only": false,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "e3c63db5-79e3-4fba-8409-b2a825483d06",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "nfFEH6zT50tgvpgZ",
          "name": "Ollama Cloud"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1216,
        -16
      ],
      "id": "785c3869-a612-4e40-96ca-e43b9f7b2f07",
      "name": "Telegram Trigger",
      "webhookId": "2c9ead77-716b-4eb0-b3c5-fb41b63cdf77",
      "credentials": {
        "telegramApi": {
          "id": "oOiJGJNWuBtIzB0F",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f7dfbdaf-2e7a-487d-9075-55936f91f2a4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d576ff8e-8d84-4440-9c5c-763161d1ffa0",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf75be96-15f0-493b-b052-74c76ef5c745",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Zdjęcie"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -32
      ],
      "id": "0900c50a-2877-4880-83bb-383f1833704d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -800,
        -128
      ],
      "id": "ebe625a0-2225-4fe8-9fd1-7d4abe84cc0f",
      "name": "Get a file",
      "webhookId": "6a2e9c54-c37d-489e-9213-1aa3a6240030",
      "credentials": {
        "telegramApi": {
          "id": "oOiJGJNWuBtIzB0F",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -160,
        1136
      ],
      "id": "2df3c8b4-be89-46ec-862b-ea50039f8570",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "30pl4bepGj51klY8",
          "name": "LM Studio"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be96182f-d010-45d2-b1ca-1098cde5b3ce",
              "name": "=message",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "bf558e8a-6ada-47f6-8b74-d8920557c5cc",
              "name": "message_type",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        1136
      ],
      "id": "c4d26769-1999-4dc3-85c1-c1ca039eccbb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $node[\"Telegram Trigger\"].json.message.photo.pop().file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -816,
        112
      ],
      "id": "b90f3e34-f113-4a90-bbd9-88ff23e0f104",
      "name": "Get a file1",
      "webhookId": "5556e8ab-0dd6-48b6-a828-caa9c2be8df4",
      "credentials": {
        "telegramApi": {
          "id": "oOiJGJNWuBtIzB0F",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -144,
        0
      ],
      "id": "2f52da06-38c7-4a3d-97b9-afda25cd5b5c",
      "name": "When chat message received",
      "webhookId": "5e5b47e4-5421-4ae7-87eb-d7e0c65751be"
    },
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -752,
        416
      ],
      "id": "90d89085-63b7-4451-b574-f32cb5c9fa70",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.7",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1056,
        576
      ],
      "id": "346f3b7f-af22-47c1-b2e2-05e1bb561061",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "A7sVRRLJtq7XaoOv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -976,
        576
      ],
      "id": "0dfb26ef-fb65-4c39-a5a6-af33780e67b4",
      "name": "Groq",
      "credentials": {
        "groqApi": {
          "id": "hD96UF2bl9fYyGsa",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "voxtral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -816,
        576
      ],
      "id": "e92c3111-c9ef-4e53-8126-93aad2db76b5",
      "name": "Mistral",
      "credentials": {
        "mistralCloudApi": {
          "id": "yMVaA5LgR4O2eFur",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "rnj-1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -896,
        576
      ],
      "id": "82b3c4e8-e12e-41e7-b028-9c79bdc4006b",
      "name": "Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "nfFEH6zT50tgvpgZ",
          "name": "Ollama Cloud"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -736,
        576
      ],
      "id": "5c2bfd82-3f40-44cf-9d68-f33c40af1873",
      "name": "Cohere",
      "credentials": {
        "cohereApi": {
          "id": "MhirpxYTgv8KjZiI",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        576
      ],
      "id": "b644c17a-78e1-4f32-a76c-e6656b9beebc",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "68agg2qqUtA4MJ7m",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        576
      ],
      "id": "49662f93-c9bd-4e87-9791-5b7f333589da",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VMVy2guAn4o4sNu6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1152,
        576
      ],
      "id": "595c871d-1617-4761-ad56-b775210f8a93",
      "name": "LM studio",
      "credentials": {
        "openAiApi": {
          "id": "30pl4bepGj51klY8",
          "name": "LM Studio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Jesteś asystentem ds. analizy rozmów biznesowych i CRM. Z otrzymanego poniżej tekstu wyodrębnij kluczowe dane kontaktowe i biznesowe.\n\nZASADY:\n\n    Zwróć wynik WYŁĄCZNIE jako czysty obiekt JSON, bez żadnych dodatkowych komentarzy, wyjaśnień czy znaczników markdown.\n\n    Jeśli jakiejś informacji brakuje w tekście, przypisz jej wartość null.\n\nSTRUKTURA JSON: { \"contractor\": \"Nazwa firmy/kontrahenta\", \"summary\": \"Krótkie i konkretne streszczenie rozmowy\", \"contact_name\": \"Imię i Nazwisko osoby\", \"email\": \"Adres email\", \"phone\": \"Numer telefonu\", \"position\": \"Stanowisko służbowe\" }\n\nDANE WEJŚCIOWE DO ANALIZY: {{ $node[\"When chat message received\"].json.chatInput }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        960
      ],
      "id": "13455458-fba9-42fa-9cc1-44cb015ea878",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "68agg2qqUtA4MJ7m",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen3-coder:480b",
          "mode": "list",
          "cachedResultName": "qwen3-coder:480b"
        },
        "messages": {
          "values": [
            {
              "content": "=Przetwórz dane zgodnie z instrukcją systemową."
            }
          ]
        },
        "options": {
          "system": "=Jesteś administratorem CRM. Łączysz historię firmy z nowymi danymi.\n\nDANE WEJŚCIOWE:\n\n    Stara Lista Kontaktów: {{ $node[\"Search records\"].json[\"Lista Kontaktów\"] || \"Brak\" }}\n\n    Stary Transkrypt (Opcja 1): {{ $node[\"Search records\"].json[\"Transkrypt\"] || \"Brak\" }}\n\n    Stare Notatki (Opcja 2): {{ $node[\"Search records\"].json[\"Notes\"] || \"Brak\" }}\n\n    Nowa Osoba (Dane): {{ JSON.stringify(JSON.parse($node[\"Message a model\"].json.content).new_contact) }}\n\n    Nowa Transkrypcja: {{ $node[\"When chat message received\"].json.chatInput }}\n\nZADANIA:\n\n    merged_transcription (Opcja 1): Dopisz nową transkrypcję do starej, oddzielając je datą.\n\n    merged_notes (Opcja 2): Połącz stare notatki z nowym podsumowaniem w jeden czytelny akapit.\n\n    updated_contacts_list: Stwórz listę w punktach (TEKST). Jeśli osoba już jest, zaktualizuj jej dane.\n\nWYPLUJ WYŁĄCZNIE CZYSTY JSON: { \"merged_notes\": \"treść...\", \"merged_transcription\": \"treść...\", \"updated_contacts_list\": \"• Imię Nazwisko (Stanowisko): email, telefon\\n• Kolejna osoba...\" }",
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        736,
        80
      ],
      "id": "b74bd6f2-3e7e-4251-b0ab-bc1f42da47da",
      "name": "Konsolidator",
      "credentials": {
        "ollamaApi": {
          "id": "nfFEH6zT50tgvpgZ",
          "name": "Ollama Cloud"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Konsolidator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        []
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        []
      ]
    },
    "Message a model1": {
      "main": [
        []
      ]
    },
    "Update record": {
      "main": [
        []
      ]
    },
    "Konsolidator": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "afbd2629-2190-45d7-85e7-6e38e39365e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04b5389c2c5b999a7c2e42fd74172ee93dc6a21e38ed91df18278c48bfc98ce7"
  },
  "id": "3XqoGOJjzM4xSElK",
  "tags": []
}